<template>
  <v-dialog v-model="openDialog" persistent max-width="800px" scrollable>
    <v-card>
      <v-card-title>
        ニックネームを決めます
      </v-card-title>
      <v-card-text>
        <v-text-field
          label="Nickname"
          v-model="nickname"
          :rules="[rules.required]"
        ></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color text @click="openDialog = false">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="saveNickname()">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { accountStore } from '@/store/accountStore'

@Component({
  components: {},
})
export default class AccountDialogComponent extends Vue {
  private nickname = ''

  @Watch('openDialog')
  onOpenDialogChanged(newValue: boolean) {
    if (newValue) {
      this.nickname = accountStore.nickname
    }
  }

  rules = {
    required: (value: string) => !!value || 'Required.',
  }

  get openDialog() {
    return accountStore.openDialog
  }

  set openDialog(openDialog: boolean) {
    accountStore.setOpenDialog(openDialog)
  }

  async saveNickname() {
    if (this.nickname) {
      await accountStore.saveNickname(this.nickname)
      accountStore.setOpenDialog(false)
    }
  }
}
</script>
