<template>
  <v-app-bar app color="primary" dark>
    <div class="d-flex align-center pointer" v-on:click="moveHome">
      ごきげんよう
    </div>
    <v-spacer></v-spacer>
    <div v-if="nickname">
      ようこそ。 {{ nickname }} さん
      <v-btn color="primary" fab x-small dark v-on:click="editNickname">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </div>
  </v-app-bar>
</template>

<script lang="ts">
import { accountStore } from '@/store/accountStore'
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class AppBarComponent extends Vue {
  get nickname() {
    return accountStore.nickname
  }

  async editNickname() {
    accountStore.setOpenDialog(true)
  }

  async moveHome() {
    this.$router.push('/')
  }
}
</script>
