<template>
  <v-footer dark padless>
    <v-row
      justify="center"
      no-gutters
      class="indigo lighten-1 white--text text-center"
    >
      <v-col cols="6" class="pa-3 text-caption">
        © 2021 Gokigenyo. All rights reserved
      </v-col>
      <v-col cols="6" class="pa-2">
        <v-btn icon class="mx-4 white--text" href="https://gitlab.com/koda3t/greetings">
          <v-icon>mdi-gitlab</v-icon>
          Get code from GitLab
        </v-btn>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class FooterComponent extends Vue {
}
</script>
