<template>
  <v-dialog v-model="openDialog" persistent max-width="400px" scrollable>
    <v-card class="mx-auto ma-2" outlined>
      <img alt="logo" src="../../assets/choose.png" v-if="dialogImage === 'CHOOSE'"/>
      <img alt="logo" src="../../assets/dice.png" v-if="dialogImage === 'DICE'"/>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { roomStore } from '@/store/roomStore'
import { Component, Vue } from 'vue-property-decorator'

@Component({
  components: {},
})
export default class ImgDialogComponent extends Vue {
  get openDialog() {
    return roomStore.diceDialog
  }

  set openDialog(dialog: boolean) {
    roomStore.setDiceDialog(dialog)
  }

  get dialogImage() {
    return roomStore.dialogImage
  }
}
</script>
