<template>
  <v-dialog v-model="openDialog" persistent max-width="400px" scrollable>
    <v-card>
      <v-card-title>
        参加者を招待します
      </v-card-title>
      <v-card-text class="pa-3">
        <v-textarea
          outlined
          label="招待メッセージ"
          v-model="message"
        ></v-textarea>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color text @click="openDialog = false">Close</v-btn>
        <v-btn color="blue darken-1" text @click="copyUrl()"
          >招待メッセージをコピー</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { accountStore } from '@/store/accountStore'
import { roomStore } from '@/store/roomStore'
import { Component, Vue, Watch } from 'vue-property-decorator'

@Component({
  components: {},
})
export default class InviteRoomDialogComponent extends Vue {
  get openDialog() {
    return roomStore.inviteDialog
  }

  set openDialog(dialog: boolean) {
    roomStore.setInviteDialog(dialog)
  }

  message = ''

  @Watch('openDialog')
  onOpenDialogChanged(newValue: boolean) {
    if (newValue) {
      this.openDialog = newValue
      this.message = `雑談ルームへの招待\n\n${accountStore.nickname} さんがルームへ招待をしています。\n参加していただけるのであれば、以下のURLから参加をお願いします。\n\n${location.href}\n`
    }
  }

  async copyUrl() {
    navigator.clipboard.writeText(this.message)
    this.openDialog = false
  }
}
</script>
