<template>
  <v-app>
    <AppBarComponent />
    <v-main>
      <v-container>
        <router-view />
      </v-container>
    </v-main>
    <AccountDialogComponent />
    <FooterComponent />
  </v-app>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

import AppBarComponent from '@/components/AppBarComponent.vue'
import AccountDialogComponent from '@/components/AccountDialogComponent.vue'
import FooterComponent from '@/components/FooterComponent.vue'

@Component({
  components: {
    AppBarComponent,
    AccountDialogComponent,
    FooterComponent,
  },
})
export default class App extends Vue {}
</script>

<style>
.pointer {
  cursor: pointer;
}
</style>
