<template>
  <div class="home">
    <div class="text-body-2">
      リモートワークが普及したことにより「雑談」が少なくなったということがあります <br/>
      「雑談」の減少により新しいアイディアやコラボレーションが生まれにくくなるという弊害もあるようです<br/>
      オンラインでのコミュニケーションを活性化させようという動きもありますが、<br/>
      なかなかオンラインだと発言しづらいという意見も聞きます<br/>
      本サービスは、そんなオンラインでのコミュニケーションの支援をします<br/><br/>
    </div>

    <img alt="logo" src="../assets/gakkatsu_homeroom.png" />
    <div>
      <v-btn rounded color="primary" dark x-large v-on:click="createRoom()">
        {{ $t('createRoom') }}
      </v-btn>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { roomStore } from '@/store/roomStore'

@Component({})
export default class Home extends Vue {
  async createRoom() {
    roomStore.createRoomAndMovePage()
  }
}
</script>

<style scoped>
.home {
  text-align: center;
}
</style>
