<template>
  <div>
    <v-row justify="center" no-gutters>
      <v-col class="col-12 col-sm-6 pa-1">
        <v-text-field
          label="雑談ルームのタイトル"
          placeholder="タイトルを指定することもできます（必須ではありません）"
          v-model="title"
          @change="saveTitle"
          :disabled="!isOwner"
        ></v-text-field>
      </v-col>
      <v-col class="col-8 col-sm-4 pa-1">
        <v-text-field
          type="number"
          label="一人あたりの時間(分)"
          placeholder="各時の話題の時間を指定します（デフォルト5分）"
          v-model="talk_time"
          @change="saveTalkTime"
          :disabled="!isOwner"
        ></v-text-field>
      </v-col>
      <v-col class="col-4 col-sm-2 pa-1">
        <v-btn small class="ma-3" v-on:click="moveHome">
          <v-icon small>mdi-home</v-icon>
          戻る
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="col-12 col-sm-4">
        <v-card class="mx-auto" outlined>
          <v-toolbar color="primary" dark>
            <v-toolbar-title>参加者</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon v-on:click="invite">
              <v-icon>mdi-account-plus</v-icon>
            </v-btn>
          </v-toolbar>
          <v-list nav dense>
            <v-list-item
              v-for="participant in room.participants"
              :key="participant.id"
            >
              <v-list-item-avatar>
                <v-icon
                  class="grey lighten-1"
                  v-if="participant.role === 'OWNER'"
                >
                  mdi-account
                </v-icon>
                <v-icon class="grey lighten-1" dark v-else>
                  mdi-account
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title
                  v-text="participant.account.nickname"
                ></v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon v-if="participant.account_id === speakerId">
                  <v-icon color="amber">mdi-chat-processing</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>
          <div v-if="!isMember" class="pa-3">
            <v-btn
              :disabled="isMember"
              v-on:click="joinRoom"
              class="red darken-2 white--text"
            >
              <v-icon>mdi-home-import-outline</v-icon>
              雑談ルームへ入る
            </v-btn>
          </div>
        </v-card>

        <v-card class="mx-auto ma-5" outlined>
          <v-toolbar color="primary" dark>
            <v-toolbar-title>話題</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon v-on:click="changeTopics" :disabled="!isOwner">
              <v-icon>mdi-recycle-variant</v-icon>
            </v-btn>
          </v-toolbar>
          <v-list dense nav>
            <v-list-item
              v-for="room_topic in room.room_topics"
              :key="room_topic.id"
            >
              <v-list-item-content>
                <v-list-item-title
                  v-text="room_topic.topic"
                ></v-list-item-title>
              </v-list-item-content>
              <!--
              <v-list-item-action>
                <v-btn icon>
                  <v-icon color="grey lighten-1">mdi-delete</v-icon>
                </v-btn>
              </v-list-item-action>
              -->
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>

      <v-col class="col-12 col-sm-8">
        <v-card class="mx-auto" outlined v-if="isOwner">
          <v-system-bar color="indigo" dark>
            <div class="text-caption">
              ルームオーナーメニュー(ルームオーナーにのみ表示)
            </div>
          </v-system-bar>
          <v-card-title class="pa-2">
            <v-btn :disabled="disableChooseTarget" v-on:click="chooseSpeaker">
              <v-icon color="grey">mdi-bullseye-arrow</v-icon>
              話す人を抽選
            </v-btn>
            <div v-if="allFinish" class="red--text text-body-2 pa-2">
              参加者全員が話終わりました
            </div>
          </v-card-title>
        </v-card>

        <v-card class="mx-auto ma-2" outlined height="450">
          <v-toolbar color="primary" dark>
            {{ speakerName }}
          </v-toolbar>
          <v-card-title class="pa-2" v-if="isSpeaker">
            <v-btn v-on:click="chooseTopic" :disabled="disableChooseTopic">
              <v-icon color="grey">mdi-dice-6-outline</v-icon>
              話題を決めて雑談開始
            </v-btn>
            <v-btn v-on:click="finishTalk" :disabled="!talking" class="ma-2">
              <v-icon color="grey">mdi-stop-circle</v-icon>
              雑談終了（次の人へ）
            </v-btn>
          </v-card-title>

          <v-card-subtitle class="pa-5">
            <div class="text-h2">{{ topic }}</div>
          </v-card-subtitle>

          <v-card-text class="pa-5" v-if="talking">
            <div class="text-h4">タイマー: {{ term }} (秒)</div>
            <div v-if="finishAt !== ''">{{ finishAt }} まで</div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <InviteRoomDialogComponent />
    <ImgDialogComponent />
  </div>
</template>

<script lang="ts">
import { RoomModel, STATUS_OF_ROOM } from '@/service/model/RoomModel'
import { roomStore } from '@/store/roomStore'
import { Component, Vue, Watch } from 'vue-property-decorator'
import { logger } from '@/util/logger'
import dayjs from 'dayjs'

import InviteRoomDialogComponent from '@/components/room/InviteRoomDialogComponent.vue'
import ImgDialogComponent from '@/components/room/ImgDialogComponent.vue'
import { playSound } from '@/util/sound'

@Component({
  components: { InviteRoomDialogComponent, ImgDialogComponent },
})
export default class Room extends Vue {
  id = ''
  title = ''
  inviteDialog = false
  term = -1
  timer: NodeJS.Timer | undefined = undefined
  allFinish = false
  talk_time = 5

  get room() {
    return roomStore.room
  }

  get isOwner() {
    return roomStore.isOwner
  }

  get isSpeaker() {
    return roomStore.isSpeaker
  }

  get isMember() {
    return roomStore.isMember
  }

  get disableChooseTarget(): boolean {
    return (
      roomStore.room.status !== STATUS_OF_ROOM.CREATED &&
      roomStore.room.status !== STATUS_OF_ROOM.FINISH_TALK
    )
  }

  get disableChooseTopic(): boolean {
    return roomStore.room.status !== STATUS_OF_ROOM.CHOOSE_TARGET_END
  }

  get talking(): boolean {
    return roomStore.room.status === STATUS_OF_ROOM.CHOOSE_TOPIC_END
  }

  get speakerId() {
    return roomStore.room.talk?.account_id
  }

  get speakerName() {
    if (this.isSpeaker) {
      return 'あなたの番です'
    }
    if (!roomStore.room.talk || roomStore.room.talk.finished_at) {
      return 'ルームオーナーが次の人を抽選します。'
    }
    return `${roomStore.room.talk.account.nickname} さんの番です`
  }

  get topic() {
    if (roomStore.room.status === STATUS_OF_ROOM.CHOOSE_TOPIC_END) {
      return this.room?.talk?.room_topic?.topic
    } else {
      return ''
    }
  }

  get finishAt() {
    if (roomStore.room.status === STATUS_OF_ROOM.CHOOSE_TOPIC_END) {
      return dayjs(roomStore.room?.talk?.started_at)
        .add(roomStore.room?.talk_time, 'minutes')
        .format('HH:mm')
    } else {
      return ''
    }
  }

  @Watch('room')
  onRoomChanged(newValue: RoomModel) {
    if (newValue) {
      this.title = newValue.title
      this.talk_time = newValue.talk_time
    }
    if (newValue.status === STATUS_OF_ROOM.CHOOSE_TOPIC_END && !this.timer) {
      const timer = setInterval(() => {
        const term = dayjs(roomStore.room.talk?.started_at)
          .add(roomStore.room.talk_time, 'minutes')
          .valueOf()
        const time_remaining = term - new Date().valueOf()
        this.term = Math.ceil(time_remaining / 1000)
        if (this.term === 60) {
          playSound('/sound/notice.mp3')
        }
        if (this.term < 0) {
          playSound('/sound/stop.mp3')
          clearInterval(timer)
          this.timer = undefined
          this.term = 0
        }
      }, 1000)
      this.timer = timer
    } else if (
      (newValue.status === STATUS_OF_ROOM.CREATED ||
        newValue.status === STATUS_OF_ROOM.FINISH_TALK) &&
      this.timer
    ) {
      logger.debug('clearInterval')
      clearInterval(this.timer)
      this.timer = undefined
    }
  }

  async mounted() {
    this.$nextTick(async () => {
      this.id = this.$route.params.id
      roomStore.loadRoom(this.id)
    })
  }

  async saveTitle() {
    roomStore.saveTitle(this.title)
  }

  async saveTalkTime() {
    roomStore.saveTalkTime(this.talk_time)
  }

  async invite() {
    roomStore.setInviteDialog(true)
  }

  async chooseSpeaker() {
    const result = await roomStore.chooseSpeaker()
    if (!result) {
      this.allFinish = true
    }
  }

  async chooseTopic() {
    roomStore.chooseTopic()
  }

  async finishTalk() {
    roomStore.finishTalk()
  }

  async joinRoom() {
    roomStore.joinRoom()
  }

  async changeTopics() {
    roomStore.changeTopics()
  }

  async moveHome() {
    this.$router.push('/')
  }
}
</script>

<style scoped>
.home {
  text-align: center;
}
</style>
